<h1>Edit <%= @movie.title %></h1>

<% form_for( @movie, url_for( :movies, :update, id: @movie.id ),
            class: "form-group col-md-7", :method => :put ) do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>

  <%= f.label :year %>
  <%= f.text_field :year, class: "form-control" %>

  <%= f.label :description %>
  <%= f.text_area :description, class: "form-control", rows: 5 %>

  <%= f.label :poster %>
  <%= f.text_field :poster, class: "form-control" %>

  <%= f.label :runtime %>
  <%= f.text_field :runtime, class: "form-control" %>

  <%= f.submit :update, class: "btn btn-primary" %>

<% end %>

