<div class="col-md-6">
  <h2><strong><%= @movie.title %></strong></h2>
  <h4><strong>Year:</strong> <%= @movie.year %></h4>
  <h4><strong>Description:</strong> <%= @movie.description %></h4>
  <h4><strong>Runtime:</strong> <%= @movie.runtime %></h4>
  <br>
    <a href="/movies/<%= @movie.id %>/edit" class="btn btn-warning" >Edit</a>
    <br>
    <% form_for( @movie, url_for( :movies, :delete, id: @movie.id ), :method => :delete ) do |f| %>
      <%= f.submit :delete, class: "btn btn-primary" %>
    <% end %>
</div>
<div class="col-md-5" >
<img src="<%= @movie.poster %>" alt="movie poster" name="delete" value="delete" class="poster" />
</div>
